<div id="contact" class="res-group">
  <div id="avatar-wrapper">
    <div id="avatar"></div>
  </div>
  <div class="deconstructed">
    "{{name}}"
    <div>{{name}}</div>
    <div>{{name}}</div>
    <div>{{name}}</div>
    <div>{{name}}</div>
  </div>
  <div id="contact-title">{{title}}</div>
  <div id="contact-text">
    <a href={{locationUrl}} target="_blank" rel="noreferrer"><i class="fa-solid fa-location-dot"></i></a>
    <a href={{linkedinUrl}} target="_blank" rel="noreferrer"><i class="fa-brands fa-linkedin"></i></a>
    <a href={{githubUrl}} target="_blank" rel="noreferrer"><i class="fa-brands fa-github"></i></a>
    <a href={{emailUrl}} target="_blank" rel="noreferrer"><i class="fa-solid fa-envelope"></i></a>
  </div>
</div>
<div class="solid"></div>
<app-technology></app-technology>
<app-work-experience></app-work-experience>
<app-education></app-education>
<app-canvas></app-canvas>
<!-- MOUSE -->
<div id="mouse-shadow"></div>
