.res-group.experience {
    position: relative;
}
.res-group.experience::before {
    position: absolute;
    top: 6rem;
    content: "";
    width: 5px;
    height: 79%;
    background-color: var(--opaque);
    z-index: -1;
}

.work-group {
    position: relative;
    display: flex;
    width: 480px !important;
    height: auto;
    max-height: 55px;
    padding: 1rem 1.5rem;
    margin-bottom: 3rem;
    width: 60vw;
    cursor: pointer;
    background-color: var(--primary-color-false-opaque);
    border-radius: 15px;
    padding-bottom: 5rem;
}

.work-group:nth-child(even) {
    margin-left: -15%;
}
.work-group:nth-child(odd) {
    margin-left: 15%;
}

.work-group:hover, 
.work-group.active {
    width: 50% !important;
    margin-left: 0;
    border-radius: 10px;
    box-shadow: #ffffff1a 0px 1px 1px 0px inset, #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px;
    background-color: var(--gradient-1);
    max-height: 800px;
    padding-bottom: 0;
    transition: all .5s ease-out;
}

.work-group ul {
    list-style-type: none;
    opacity: 0;
    padding-left: 1.5rem;
}

.work-group:hover ul, 
.work-group.active ul {
    opacity: 1;
    transition: all 1s ease-out;
    transition-delay: 0.5s;
}

.work-group ul li {
    position: relative;
    height: 0;
    margin-bottom: 0.25rem;
}

.work-group:hover ul li, 
.work-group.active ul li {
    height: 100%;
}

.work-group ul li i {
    position: absolute;
    top: 4px;
    left: -25px;
    margin-right: 0.5rem;
}

.work-group > i {
    position: absolute;
    top: -5px;
    transform: rotate(180deg);
    color: var(--tertiary-color);
    font-size: 4rem;
}

.work-group > i.left {
    left: -70px;
}

.work-group > i.right {
    right: -50px;
    transform: scaleY(-1);
}

.work-group:hover > 
i, .work-group.active > i {
    display: none;
}

.work-group h3 {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    font-size: 1rem;
    margin-bottom: .5rem;
}

.work-group h3 .text-separator {
    margin: 0.5rem;
    opacity: 0;
}

.work-group:hover h3, 
.work-group.active h3 {
    font-size: 1rem;
    flex-direction: row;
}

.work-group:hover .text-separator, 
.work-group.active .text-separator {
    opacity: 1;
    transition-delay: .35s;
}

.work-group h5 {
    min-width: 150px;
    font-weight: bold;
    font-size: 0.75rem;
    color: var(--tertiary-color);
    margin-right: 2rem;
}

.work-group ul {
    color: var(--tertiary-color);
}

.tech {
    color: var(--primary-color-dull);
    font-style: italic;
}

.tech:hover {
    cursor: pointer;
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--primary-color-opaque);
}

@media screen and (max-width: 1450px) {

    .work-group:hover, 
    .work-group.active {
        width: 65% !important;
    }

    .work-group:hover h5, 
    .work-group.active h5 {
        margin-right: 0;
    }


}

@media screen and (max-width: 1065px) {
    .work-group:hover, 
    .work-group.active {
        width: 90% !important;
        flex-direction: column;
    }
    .work-group.active h3 {
        font-size: normal;
    }
}

@media screen and (max-width: 810px) {

    .work-group {
        width: 450px !important;
    }
    .work-group:hover, 
    .work-group.active {
        width: 90% !important;
        flex-direction: column;
    }

    .work-group:nth-child(even) {
        margin-left: 0;
    }
    .work-group:nth-child(odd) {
        margin-left: 0;
    }

    .work-group h3 {
        font-size: smaller;
    }

    .work-group:hover h3 > span:last-child, 
    .work-group.active h3 > span:last-child {
        display: block;
    }

    .work-group:hover h3 span:last-child > span:last-child {
        display: none;
    }

}

@media screen and (max-width: 665px) {
    .work-group:hover h3, 
    .work-group.active h3 {
        display: flex;
        flex-direction: column;
        color: var(--primary-color);
        font-size: 1rem;
        margin-bottom: .5rem;
    }
    
    .work-group:hover h3 .text-separator,
    .work-group.active h3 .text-separator {
        margin: 0.5rem;
        opacity: 0;
    }
}